spring:
    datasource:
        #MySQL
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://bd.dwliu.me:3307/demo?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false
        username: test
        password: test1234
        auto-commit: true
        default-auto-commit: true
        initial-size: 5
        max-idle: 10
        max-wait: 10000
        maximum-pool-size: 100
        min-idle: 5
        minEvictableIdleTimeMillis: 300000
        test-on-borrow: false
        test-while-idle: true
        time-between-eviction-runs-millis: 18800
        validation-query: SELECT 1

logging:
    level:
        org.springframework.jdbc.core.JdbcTemplate: DEBUG

ebase:
    data-scope:
        dataScopeLevel: OWN



